albumentations==1.1.0
colorama==0.4.4
ipython==8.4.0
joblib==1.1.0
matplotlib==3.5.2
numpy==1.22.4
opencv_python_headless==4.5.5.64
pandas==1.4.2
rasterio==1.3.0
scikit_learn==1.1.1
segmentation_models_pytorch==0.2.1
tensorflow==2.9.1
timm==0.4.12
torch==1.13.0.dev20220525
tqdm==4.64.0
wandb==0.12.18
